body {
    display: flex;
    height: 100vh;
}
  
.mdc-drawer-app-content {
    flex: auto;
    overflow: auto;
    position: relative;
}

.mdc-drawer {
    width : 300px;
}

.main-content {
    overflow: auto;
    height: 100%;
}
  


.mdc-top-app-bar {
    z-index: 10;
}

.menu-selector-width {
    width: 299px;
}

.menu-select {
    padding-bottom: 25px;
}

#menu-visualize-button {
    margin-left: 80px ;
}

.hidden-selector {
    display: none;
}

.menu-settings-text {
    padding-top: 10px;
    display: inline-block;
    padding-left: 80px;
}

.splash-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}