.vis-main-container {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    margin-top: 20px;
}

.vis-class-spacer {
    height: 20px;
}

.vis-class-container {
    display: block;
    width: 100%;
    height: 152px;
    overflow:hidden;
}

.vis-class-block-container {
    width: 100%;
    height: 152px;
}

.vis-class-info {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
    vertical-align: top;
}
.vis-class-block {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-left: 20px;
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
    cursor: pointer;
}

.vis-class-layer-container {
    width: 100%;
    height: 150px;
    margin-top: 20px;
}

.vis-class-info-spacer {
    display: inline-block;
    width: 150px;
    height: q50px;
    vertical-align: top
}

.vis-class-layer {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-left: 20px;
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
}

.vis-selected-block {
    border-width: 4px;
    border-style: solid;
}

.template {
    display: none !important;
}

.vis-left-pane {
    display: inline-block;
    width: 70%;
    height: 100%;
    padding-left: 20px;
}

.vis-right-pane {
    display: inline-block;
    width: 29%;
    height: 100%;
    vertical-align: top;
}
.vis-classes-filter-container {
    width: 100%;
    height: 33.3%;
    vertical-align: top;
}

.vis-image-container {
    width: 100%;
    height: 33.3%;
    vertical-align: top;
}

.vis-info-container {
    width: 100%;
    height: 33.3%;
    vertical-align: top;
}

#vis-classe-filter-button {
    margin-left: 25% ;
}

.mdc-checkbox {
    display: block;
}

.checkbox__text {
    padding-left: 25px;
    padding-top: 8px;
}

#classes-selector {
    width: 80%;
    padding-top: 15px;
}
