.vis-main-container {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    margin-top: 20px;
}

.vis-class-spacer {
    height: 20px;
}

.vis-class-title {
    display: block;
    width: 150px;
    height: 15px;
    text-align: center;
}
.vis-class-data {
    display: block;
    width: 150px;
    height: 135px;
}

.vis-class-container {
    display: block;
    width: 100%;
    height: 152px;
    overflow: hidden;
    margin-top: 20px;
}

.vis-class-block-container {
    width: 100%;
    height: 152px;
}

.vis-class-info {
    display: inline-block;
    width: 150px;
    height: 150px;

    vertical-align: top;
}
.vis-class-block {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-left: 20px;
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
    cursor: pointer;
}

.vis-class-layer-container {
    position: relative;
    height: 170px;
    margin-top: 20px;
    overflow-x: scroll;
}

.vis-class-info-spacer {
    display: inline-block;
    width: 150px;
    height: 135px;
    vertical-align: top;
}

.vis-class-layer {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-left: 20px;
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
}

.vis-selected-block {
    border-width: 4px;
    border-style: solid;
}

.template {
    display: none !important;
}

.vis-left-pane {
    display: inline-block;
    padding-left: 20px;
    border-right: 2px  #A8A8A8 solid;
}

.vis-right-pane {
    display: inline-block;
    position: fixed;
    right: 20px;
    width: 250px;
    height: 100%;
    vertical-align: top;
}

.vis-image-container {
    width: 100%;
    height: 25%;
    vertical-align: top;
}

.vis-classes-filter-container {
    width: 100%;
    height: 75%;
    vertical-align: top;
    overflow-y: scroll;
}

.vis-classes-filter-custom {
    margin-top: -15px;
}

#vis-classe-filter-button {
    margin-top: 10px;
}

.mdc-checkbox {
    display: block;
}

.checkbox__text {
    padding-left: 25px;
    padding-top: 8px;
}

#classes-selector {
    width: 250px;
    padding-top: 15px;
}

.classes-filter-menu-width {
    width: 200px;
}
